@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --font-family-global: 'IBM Plex Sans', sans-serif;
    --font-family-display: "Noto Serif Display", serif;
    background-color: #0a0a0a;
    scroll-behavior: smooth;
}

h1 {
    font-weight: 550;
    color: var(--foreground);
    font-family: var(--font-family-display);
}


h2 {
    font-size: 1.75rem;
    line-height: 1.1;
}

nav a {
    color: var(--color-neutral-500);
}
nav a:hover{
    color: var(--foreground);
    transition-duration: .5s;
    text-decoration: none;
}

p a {
    color: var(--foreground);
}

p a:hover{
    text-decoration: underline;
    transition-duration: .5s;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--color-neutral-800);
    margin: 5em 3em 0em;
    padding: 0;
}


:target {
    scroll-margin-top: 20px;
}

body {
    font-family: var(--font-family-global);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0a0a0a;
}